@media (max-width:768px){

/*------------------------------
Section-1
-------------------------------*/

.hero-section {
    background: url(/images/CR_Icon_BG.svg) ;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center center;
}


.header {
        flex-direction: row;
        gap: 10px;
        padding: 20px 20px;
      }

      .brand img {
        height: 24px;
      }

      .brand{
        align-items: flex-start;
        justify-content: flex-start;
      }

      .contact a {
        font-size: 0.9rem;
      }
      .hide{
  display: none!important;
}

      .brand  h2{
  color:#fff;
  font-family: atypmedium;
  text-transform: uppercase;
 letter-spacing: 1px;
 font-size: 1.2rem;
}
.category-nav h2{
  color:#fff;
  font-family: atypmedium;
  text-transform: uppercase;
  font-size: 2rem;
}

 .hero-content h1 {
      font-size: 3rem;
      margin-bottom: -10px;
    }

    .tilted-button { 
      padding: 10px 30px;
      font-size: 1rem;
    }

    .logo{
        display: none;
    }



}




@media screen and (min-device-width: 1024px) and (max-device-width: 1200px){

}


@media screen and (min-device-width: 1200px) and (max-device-width: 1600px){

}


@media screen and (min-device-width: 1600px) and (max-device-width: 2000px){
/*--------------------------
section-1
-----------------------------*/
    .header img {
      height: 60px;
    }


    .contact a{
      font-size: 2rem;
    }

.hero-content h1 {
    font-size: 10rem;
    margin-bottom: -20px;
}
.tilted-button {
    padding: 15px 40px;
    font-size: 2rem;
}

.popup-close {
        font-size: 4rem;
      }


}


@media (min-width:2000px){
/*--------------------------
section-1
-----------------------------*/
    .header img {
      height: 70px;
    }


    .contact a{
      font-size: 2rem;
    }

.hero-content h1 {
    font-size: 15rem;
    margin-bottom: -30px;
}
.tilted-button {
    padding: 15px 40px;
    font-size: 3.5rem;
}
.category-nav span {
    padding: 15px 30px;
    font-size: 1.5rem;
}

.popup-close {
        font-size: 5rem;
      }

}